.TodoCard {
  padding: 16px 7% 10px 7%;
  gap: 16px;
  border-radius: 8px;
  border: 2px solid #a35709;
  display: flex;
  justify-content: space-between;
  background: #242320;
}

.todoContent {
  display: flex;
  flex-direction: column;
  color: #f0e3ca;
  font-family: Roboto;
}
.todoContent > :nth-child(1) {
  font-size: 22px;
  font-weight: 500;
  line-height: 25.78px;
}
.todoContent > :nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
}
.card-icons {
  display: flex;
  gap: 9px;
  justify-content: end;
}
.card-icons .active {
  background-color: #a35709;
}

.icon {
  color: white;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  border: 1px solid #a35709;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.info {
  font-size: 30px;
}
.cross {
  color: #ff8303;
}

@media (max-width: 768px) {
  .TodoCard {
    padding: 16px 16px 10px 16px;
  }
  .cross {
    border: 2px solid #a35709;
  }
  .card-icons {
    gap: 8px;
    margin-top: 8px;
  }
}
